body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.btn {
  display: inline-block !important;
  background-color: #c8102e !important;
  color: white !important;
  padding: 0.5rem 1rem !important;
  text-decoration: none !important;
  border-radius: 4px !important;
}

.btn:hover {
  display: inline-block !important;
  background-color: white !important;
  color: #c8102e !important;
  padding: 0.5rem 1rem !important;
  text-decoration: none !important;
  border-radius: 4px !important;
  border: #c8102e solid !important;
}
